<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.user__admin">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.User__admin">
        <activity android:name=".stastic"></activity>
        <activity android:name=".Mwa3idy" />
        <activity android:name=".MLT" />
        <activity android:name=".demmande_certaficat" />
        <activity android:name=".i3ref_akter" />
        <activity android:name=".edit_data" />
        <activity android:name=".cancel_data" />
        <activity android:name=".tasjile_hajiz_rendifu" />
        <activity android:name=".MainActivity">

        </activity>
        <activity android:name=".ChatActivity" />
        <activity android:name=".HomeActivity" />
        <activity android:name=".adddata" />
        <activity android:name=".login" >
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />

            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
        </activity>
        <activity android:name=".registre" />
        <activity android:name=".SettingActivity" />
        <activity android:name=".nasaiih_DZ" />
        <activity android:name=".program_vac_DZ" />
        <activity android:name=".setting_menu" />
        <activity android:name=".call_me_menu" />
        <activity android:name=".about_app_menu" />
        <activity android:name=".who_are_we" />
        <activity android:name=".ta9yiim" />
        <activity android:name=".logout_menu" />
        <activity android:name=".share_menu" />
    </application>

</manifest>